.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--black-background);
}

.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:60px;
    height: auto;
    
    
    
    @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        gap:0px;
        // justify-content: space-around;
    }
    

    @media screen and (min-width: 1200px) {
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: row;
        align-items: baseline;
        gap: 0px;
    }
}



.footer-contact-section {
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        margin: 0 auto;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        margin-left: 0px;
        margin-right:165px;
        margin-bottom: 60px;
        
    }

    @media screen and (min-width: 1200px) {
        text-align:left;
        margin-left: 0px;
        margin-right:70px;
        margin-bottom: 0px;
    }



}

.footer-logo {
    display: block;
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;

    list-style: none;
    text-decoration: none;
}

.footer-info {
    width: 231px;
    height: 81px;
}

.footer-adress {
    margin-bottom: 9px;

    color: var(--white-color);
    font-style: normal;
    line-height: 1.7;
}

.footer-contacts {
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    list-style: none;
    text-decoration: none;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus{
    color: var(--blue-color);
    }
}


.footer-social-section{
    text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
}


.footer-social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    width: 206px;
    height: 44px;
    padding: 0px;
}

.footer-social-links_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--footer-social-link);
    transition: background-color 250ms var(--timing-function);

    &:hover{
        background-color: #2196f3;
    }
}

.footer-icon {
    display: inline-block;
    fill: var(--white-color);
    transition: fill 250ms var(--timing-function);

    .footer-social-links_link:hover & {
    fill: var(--white-color);
    }
}


.footer-form {
    width: 100%;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
        width: 570px;
        margin-left: auto;
    }
}

.footer-paragraph {
    margin-bottom: 20px;
    color: var(--white-color);
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

/*Footer - Форма відправки Email */

.footer-send-form {
    display: flex;
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap:20px
        }
    
    @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            gap: 20px
        }
}

.footer-send-label {
    width: 100%;

    @media screen and (min-width: 480px) {
        width: 450px;
        }

    @media screen and (min-width: 1199px) {
        width:358px;    
        margin-right: 12px;
        }
}

.footer-email-input {
    position: relative;
    width: 100%;
    height: 50px;

    padding-left: 16px;

    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    &::placeholder {
    width: 47px;
    height: 20px;
    
    color: rgba(255, 255, 255, 0.6);
    
    font-family: 'Roboto';
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
}



.footer-email-bottom {
    position: relative;
    width: 200px;
    height: 50px;

    padding: 10px 28px;

    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--white-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    cursor: pointer;
}

