.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 450px;
    min-height: 609px;

    padding: 40px;

    background-color: var(--white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    
    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }

}

.modal-title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(30/20);
    text-align: center;


    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }

}

.modal-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-text-area {
    margin-bottom: 20px;
}

.modal-lable {
    display: block;

    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--second-text-color);
}

.modal-input {
    height: 40px;
    width: 100%;

    padding: 12px 18px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus~.modal-icon {
    fill: var(--blue-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus{
    border: 1px solid var(--blue-color);
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-icon {
    position: absolute;
    top: 32px;
    left: 15px;
}

.modal-text-area-comment {
    display: block;
    height: 120px;
    width: 100%;

    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;
    
    &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
    border: 1px solid var(--blue-color);
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.checkbox {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-checkbox {
    width: 0px;
    height: 0px;
    margin: 0px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.checkbox-icon {
    display: flex;
    width: 16px;
    height: 16px;

    margin-right: 7px;
    outline: 2px solid var(--primary-text-color);
    outline-offset: -2px;
    border-radius: 2px;

    align-items: center;
    justify-content: center;
    transition: outline 250ms;
}


.modal-checkbox+.checkbox-icon .icon-svg {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
    color: var(--second-text-color);
    line-height: calc(24 / 14);
    font-size: 12px;
        @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
        }
}


.modal-checkbox:checked+.checkbox-icon {
    outline: transparent;
}

.modal-checkbox:checked+.checkbox-icon .icon-svg {
    opacity: 1;
}

.modal-link {
    color: var(--blue-color);
}


.modal-button {
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    width: 200px;
    margin: 0 auto;

    background-color: var(--blue-color);
    color: var(--white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    display: flex;
    margin: 0 auto;

    justify-content: center;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;


    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus{
        color: var(--blue-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-close-icon {
    fill: currentColor;
}