:root {
    --primary-text-color: #212121;
    --black-pure-color: #000;
    --second-text-color: #757575;
    --blue-color: #2196f3;
    --white-color: #ffffff;
    --gray-background: #f5f4fa;
    --black-background: #2f303a;
    --border-color: #ececec;
    --social-link: #afb1b8;
    --footer-social-link: rgba(255, 255, 255, 0.1);
    --border-portfolio: #eeeeee;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}